<%= form_for(@layout_option) do |f| %>
  <% if @layout_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@layout_option.errors.count, "error") %> prohibited this layout_option from being saved:</h2>

      <ul>
      <% @layout_option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Sichtbarkeit</legend>
    <div class="field">
      <%= f.label :show_tags %>
      <%= f.check_box :show_tags %>
    </div>
    <div class="field">
      <%= f.label :show_price_a %>
      <%= f.check_box :show_price_a %>
    </div>
    <div class="field">
      <%= f.label :show_price_b %>
      <%= f.check_box :show_price_b %>
    </div>
    <div class="field">
      <%= f.label :show_rating %>
      <%= f.check_box :show_rating %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Hervorhebungen</legend>
    <div class = "field">
      <%= f.label :like_words %>
      <%= text_field_tag :like_words_proxy, @layout_option.like_words %>
    </div>
    <div class = "field">
      <%= f.label :dislike_words %>
      <%= text_field_tag :dislike_words_proxy, @layout_option.dislike_words %>
    </div>
    <span class='less_important_information'>Worte durch Kommas getrennt eingeben</span>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  new Tagify('like_words_proxy', {
    parameterName: 'layout_option[like_words_array]',
    className: 'tagify_like_words'
  });

  new Tagify('dislike_words_proxy', {
    parameterName: 'layout_option[dislike_words_array]',
    className: 'tagify_dislike_words'
  });
</script>
