-# locals: categories, date

- if categories.empty?
  = t :no_categories_hidden
- else
  - categories.each do |c|
    .add_category{id: "add_category_#{c.id}"}
      = link_to image_tag('add.png') + "#{t c.name} (#{c.mensa.name})", {controller: 'layout_options', action: 'add_category', id:c.id, date: date}, {remote: true}