
<% if @customize %>
  <%= link_to "Fertig", day_menue_path(date: @date), class: "nav_button", style: 'float: right;' %>
<% elsif current_user %>
  <%= link_to "Anpassen", day_menue_path(date: @date, customize: true), class: "nav_button", style: 'float: right;' %>
<% end %>

<div style='clear: both'></div>

<div class='day_menue'>
  <div class="controls">
    <div class='date'>
      <%= @date == Time.now.to_date ? "Heute" : (l @date, format: "%A, %d. %B") %>
    </div>

    <div class="backward">
      <%= link_to (image_tag "day_backward.png"), day_menue_path(date: (@date - 1.day))  %>
    </div>

    <div class="forward">
      <%= link_to (image_tag "day_forward.png"), day_menue_path(date: (@date + 1.day))  %>
    </div>
    <div style="clear:both"></div>
  </div>

  <div id='sortdishes'>
    <% if !@dishes.blank? %>
      <% for dish in @dishes %>

        <div class='dish_container' style='background-color: <%= bg_color_for_mensa_id(dish.mensa_id) %>' id='sortdishes_<%= dish.menue_category.id %>'>

          <% if @customize %>
            <div class='drag_handle'><%= image_tag 'drag_handle.png' %></div>
          <% end %>

          <%= dish.mensa.name %><br />
          <b><%= t dish.menue_category.name %></b><br /><br />

          <div id='dish_cell_<%= dish.id %>'>
            <% if !dish.not_real_dish? %>
              <%= render partial: 'dishes/dish', locals:{dish: dish} %>
            <% else %>
              <%= render partial: 'dishes/not_real_dish', locals:{dish: dish} %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
</div>

<% if @customize %>
  <script type="text/javascript">
    Sortable.create('sortdishes', {
      tag: 'div',
      overlap: 'horizontal',
      constraint: '',
      handle: 'drag_handle',
      scroll: window,
      onUpdate: function() {
        var seq = Sortable.serialize("sortdishes");

        new Ajax.Request('<%= escape_javascript sort_categories_url %>', {
              method: "post",
              parameters: { data: seq }
        });
      }
    });
  </script>
<% end %>