- if @customize
  = link_to "Fertig", day_menue_path(date: @date), class: "nav_button", style: 'float: right;'

  %h4= t :not_visible_categories
  #not_visible_categories
    = render partial: 'menue/not_visible_categories', locals: {categories: @not_visible_categories, date: @date}

- elsif current_user
  = link_to "Anpassen", day_menue_path(date: @date, customize: true), class: "nav_button", style: 'float: right;'

%div{style: "clear: both"}

.day_menue
  .controls
    .date
      = @date == Time.now.to_date ? "Heute" : (l @date, format: "%A, %d. %B")
    .backward
      = link_to (image_tag "day_backward.png"), day_menue_path(date: (@date - 1.day))
    .forward
      = link_to (image_tag "day_forward.png"), day_menue_path(date: (@date + 1.day))
    %div{:style => "clear:both"}

  #sortdishes
    - for dish in @dishes
      = render partial: 'menue/dish_container', locals: {dish: dish, customize: @customize}
  %div{style: 'clear:both'}

- if @customize
  :javascript
    makeSortable('sortdishes', '#{escape_javascript sort_categories_url}');

:javascript
  handleTooLongDishDescriptions();
