<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %> Fehler aufgetreten</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Kontodaten</legend>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Passwort ändern</legend>
    <div class="field">
      <%= f.label "Passwort" %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label "Passwort bestätigen" %>
      <%= f.password_field :password_confirmation %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit "Speichern" %>
  </div>
<% end %>
