= link_to t('back'), :back, class: "nav_button"

.content
  %h2= t('user.signin')
  - form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = devise_error_messages!
    %fieldset
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :password
        = f.password_field :password
      - if devise_mapping.rememberable?
        .field
          = f.label :remember_me
          = f.check_box :remember_me
    .actions= f.submit t('user.signin')
  = render :partial => "devise/shared/links"

:javascript
  $('user_email').focus();