%p
  #{t('hello')} #{@resource.name}!
%p= t('user.password_instructions_requested')
%p= link_to t('user.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t('user.ignore_mail')
%p= t('user.password_wont_change')
