<!DOCTYPE html>
<html>
<head>
  <title>mensr</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'ratings', 'mouse_over_dish', 'mouse_over_image', 'facebox' %>
  <!--[if IE]>
    = javascript_include_tag "application_ie"
  <![endif]-->
  <%= csrf_meta_tag %>
</head>
<body onload="<%=raw show_flashes %>">

  <div class='navigation'>
    <div class='primary'>
      <div class='logo'>
        <%= link_to (image_tag "logo.png"), :root %>
      </div>

      <div class='menu'>
        <% if current_user %>
          <span class="element">Hallo <%= "Meister " if current_user.is_admin? %><%= link_to current_user.name, current_user %></span>
          <span class="element"><%= link_to "» Abmelden", logout_path %></span>
          <%= link_to image_tag('settings.png'), customize_menue_path %>
        <% else %>
          <span class="element"><%= link_to "» Anmelden", login_path %></span>
        <% end %>
          <span class='element'><%= link_to image_tag('help.png'), about_path %></span>
      </div>
    </div>

    <div class='secondary'>
      <div class='menu'>
        <span class="element"><%= link_to "» Tagesmenü", today_path %></span>
        <span class="element"><%= link_to "» Wochenmenü", week_path %></span>
      </div>
    </div>

    <% if !@tertiary_navi_links.blank? %>
      <div class='secondary'>
        <div class='menu'>
          <% for link in @tertiary_navi_links %>
              <span class="element">
                <span style="font-weight: bold; color: <%= link[:bullet_color] %>">•</span>
              <% if link[:active] %>
                <%= link_to link[:name], link[:url] %>
              <% else %>
                <%= link[:name] %>
              <% end %>
              </span>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="container">
    <div id='no_js_flashes'>
      <% flash.each do |key, value| %>
        <div class='<%= key %>'>
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </div>

  <div id='flashes'></div>
</body>
</html>
